<div
  *ngIf="hexContents && !hasTowns() && !hasProvinces() && !hasResources()" 
  [className]="'right-panel second-upper-panel'">
  <p>No se han encontrado datos en este hexágono.</p>
</div>

<div
  *ngIf="hasResources()" 
  [className]="resourcesClass()">
  <app-resources-card [resources]="hexContents.resources">
  </app-resources-card>
</div>

<div
  *ngIf="hasTowns()" 
  [className]="townsClass()">
  <app-region-card *ngFor="let town of towns" [region]="town">
  </app-region-card>
</div>

<div
  *ngIf="hasProvinces()" 
  [className]="provincesClass()">
  <app-region-card *ngFor="let province of provinces" [region]="province">
  </app-region-card>
</div>
