:host {
  overflow: hidden;
  min-height: 50vh;
  height: 50vh;
}

.right-panel { 
  position: absolute;
  z-index:1000;     
  overflow-y: hidden; 
  transition: transform 1.3s;  

  padding: 10px 10px 0 10px;
  width: 100vw;

  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  border-radius: 8px 8px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  background-color: white;
  height: 80vh; //50 of show header + 30 of open panel
}

ion-slides {
  height: 100%;
}

@media (min-width: 680px) {
  :host {
    min-height: 0vh;
    height: 0vh;
  }

  .right-panel {
    overflow-y: hidden; 
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.5s;
    transform: translateX(0);
    width: 20vw;
    height: auto; 
  }

  .unique-panel {
    top: 132px;
    bottom: 20px;    
    left: auto;
    right: 1vw;
  }

  .first-panel {
    top: 132px;
    bottom: 20px;    
    left: auto;
    right: 22vw;
  }

  .second-upper-panel {
    height: 40%;
    top: 132px;
    bottom: auto;    
    left: auto;
    right: 1vw;
  }

  .second-lower-panel {
    height: 40%;
    top: auto;
    bottom: 20px;
    left: auto;
    right: 1vw;
  } 
}
