<ion-item *ngIf="item" [routerLink]="'/item/' + item.id" [detail]="false">
  <div slot="start" [class]="!item.read ? 'dot dot-unread' : 'dot dot-read'"></div>
  <ion-label class="ion-text-wrap">    
    <h2>{{ item.title }}</h2>
    <h3>
      {{ item.owner }}
      <span class="date">
        <ion-note>{{ item.date }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h3>
    <p>
      {{ item.description }}
    </p>
  </ion-label>
  </ion-item>