/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

// ion-header {
//     color: var(--ion-color-primary); 
//     ion-toolbar {
//         //with a gradien overlay --background: linear-gradient(162deg, rgba(56, 70, 108, .8) 20%, rgba(56, 70, 108, .8) 100%), url('assets/hexagons-background.jpg') bottom no-repeat;
//         // --background: url("assets/hexagons-background.jpg") center / 100% ;
//     } 
// }


.items-list {
  overflow: hidden;
  min-height:50vh;
  height:50vh;
}

.right-panel { 
    position: absolute;
    z-index:1000;     
    overflow-y: scroll; 
    transition: transform 1.3s;  
    transform: translateY(0);
    
    padding: 10px 10px 0 10px;
    width: 100vw;

    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    border-radius: 8px 8px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    background-color: white;
    height: 80vh; //50 of show header + 30 of open panel
}
.close-panel {
    transform: translateY(0);
}
.open-panel {
    transform: translateY(-30vh);    
}


//transition time inside src\app\map\map.page.scss
.show-header {  
  transform: translateY(0);
  height:150vh;
}
.hide-header {  
  transform: translateY(-50vh);  
  height:150vh;
}

 @media (min-width: 680px){
  .items-list {
    overflow: hidden;
    min-height:0vh;
    height:0vh;
  }
  .right-panel {
    border-radius: 8px;
    padding: 10px;
    transform: translateX(0);
    width: 300px;
    height: auto; 
    top: 132px;
    bottom: 20px;    
    left: auto;
    right: 10px;    
  }
  .close-panel {
    transform: translateX(0);
  }
  .open-panel {
      transform: translateX(0); //-10vw to bring closer to map center    
  }
  .show-header {  
    transform: translateY(0);
    height:100vh;
  }
  .hide-header {  
    transform: translateY(0);
    height:100vh;
  }

  .vertical-scroll{
    overflow-y: scroll;
    height: 100%;
  }
  .vertical-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .vertical-scroll::-webkit-scrollbar:vertical {
    width: 11px;
  }
  .vertical-scroll::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  .vertical-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }
  .vertical-scroll::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
  } 
  .vertical-scroll::-webkit-scrollbar-corner {
    background-color: #fff;
    border-radius: 8px;
  }
}